body{
    width: 100%;
    margin: 0;

}

*{
    box-sizing: border-box;
}

.csgo_root {
    width: 100%;
}

.app_csgo {
    width: 100%;
    height: 100%;
}

.beta_csgo {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.beta_csgo2 {
    width: 100%;
    height: 870px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}


@keyframes appear {
    from {
        opacity: 1;
        scale: 0.5;

    }

    to {
        opacity: 1;
        scale: 1;
    }
}
  

@keyframes text-mover {
    0% {
        right: -800px;
        opacity: 0;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}

@keyframes text {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes box-mover {
    0% {
        left: -800px;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

.img_container {
    width: auto;
    z-index: 1;
    height: 710px;
    margin-right: 160px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    animation-name: box-mover;
    animation-duration: 1.3s;
}

.main_img {
    width: auto;
    height: 100%;
    
}

.text_container {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-250px);
}

.main_text {
    position: relative;
    font-weight: 700;
    font-size: 20px;
    color: #1e202f;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 40px;
    text-transform: uppercase;
    align-self: flex-start;
    opacity: 0;
    animation: text 0.8s ease-in forwards;
    animation-delay: 1s;
}

.text_container2 {
    font-weight: 700;
    font-size: 20px;
    color: #1e202f;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 40px;
    text-transform: uppercase;
    align-self: flex-start;
}

.text_img {
    position: relative;
    animation-name: text-mover;
    animation-duration: 1.3s;
    width: auto;
    z-index: 5;
    margin-bottom: 20px;
    max-width: 650px
}

/* SECOND FLOOR */
.second_floor {
    width: 100%;
    background-color: #283780;
    background-image: url(https://cdn.akamai.steamstatic.com/apps/csgo/images/csgo_react/cs2/bgDarkBlue.svg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    z-index: 5;
    padding: 120px 0px;
}


.second_floor_details {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    padding: 50px 60px;
    background-color: #272a3b;
    max-width: 950px;
    width: 80%;
}

.second_floor_details_paragraph {
    font-size: 20px;
    color: #ffffffea;
    margin-top: 25px;
    text-align: justify;
    width: 100%;
    line-height: 120%;
    font-weight: 400;
}

.second_floor_details_title {
    font-size: 36px;
    color: #ffffffee;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 110%;
}



.minor {
    font-weight: normal;
    color: #fff;
    font-style: normal;
}




/* THIRD FLOOR */
.third_floor {
    width: 100%;
    background-color: #283780;
    background-image: url(https://cdn.akamai.steamstatic.com/apps/csgo/images/csgo_react/cs2/bgOrange.svg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    z-index: 5;
    padding: 120px 0px;
}

.third_floor_details_video {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-property: transform, opacity, filter;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    cursor: pointer;
    user-select: none;
}


.third_floor_details_title {
    font-weight: 700;
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 60px;
    line-height: 105%;
}

.third_floor_details_paragraph {
    color: #ffffffaa;
    font-size: 22px;
    text-align: justify;
    width: 80%;
    max-width: 650px;
    margin: 0 auto;
}
/* Fourth Floor */
.fourth_floor{
    width: 100%;
    background-color: #283780;
    background-image: url(https://cdn.akamai.steamstatic.com/apps/csgo/images/csgo_react/cs2/bgGray.svg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    z-index: 5;
    padding: 120px 0px;
}

/* Default state (before appearing) */
.second_floor_details,
.third_floor_details,
.fourth_floor_details {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* This class will be added/removed by JavaScript */
.show {
  opacity: 1;
  transform: translateY(0);
}


.fourth_floor_details_title {
    font-weight: 700;
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 60px;
    line-height: 105%;
}

.fourth_floor_details_paragraph {
    color: #ffffffaa;
    font-size: 22px;
    text-align: justify;
    width: 80%;
    max-width: 650px;
    margin: 0 auto;
}
